.entry_title{
    margin-top: 80px;
    font-size: 200%;
}

.p_entry{
    font-size: medium;
    font-size: center;
    align-content: center;
    padding-left: 35%;
    padding-right: 35%;
    text-align: justify;
}